body {
  background: repeat-y;
  background-size: 1920px 1080px;
  background-image: url(https://i.artfile.ru/1920x1080_1174585_[www.ArtFile.ru].jpg);
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  color: darkviolet;
}
.last {
  font-family: "Montserrat", sans-serif;
  color: white;
}
img {
  border-radius: 10px;
}

.kvadrat__1 {
  border: 3px;
  border-radius: 10px;
  display: flex;

  margin-right: 1%;
}
.kvadrat__2 {
  border: 0px;
  border-radius: 10px;
  display: flex;

  margin-right: 1%;
}
.kvadrat__3 {
  border: 0px;
  border-radius: 10px;
  display: flex;

  margin-right: 1%;
}
.kvadrat__4 {
  border: 0px;
  border-radius: 10px;
  display: flex;
}
.inline {
  display: inline;
  padding: 2%;
}
.block {
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 1%;
  display: block;
}
.inline-block {
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 1%;
  display: inline-block;
  vertical-align: bottom;
}
.flex {
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 0.5%;
  display: flex;
  justify-content: space-around;
}
.flex-left {
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 0.5%;
  display: flex;
  justify-content: left;
}
.flex-bash {
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
